<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>storecommander</name>
            <displayName><![CDATA[Module d&#039;installation de Store Commander]]></displayName>
            <version><![CDATA[1.3.7]]></version>
            <description><![CDATA[Installez Store Commander pour booster votre backoffice]]></description>
            <author><![CDATA[Store Commander]]></author>
            <tab><![CDATA[administration]]></tab>
	<confirmUninstall>Attention ! Cette action supprimera définitivement Store Commander.</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>