<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockcategories2</name>
	<displayName><![CDATA[Categories block with number of products]]></displayName>
	<version><![CDATA[1.1]]></version>
	<description><![CDATA[This module create categories block with number of products in each category]]></description>
	<author><![CDATA[MyPresta.eu]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>